<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBApPBqnn5I6GwgPSPoPNnCxW_rwXjICqE</string>
	<key>GCM_SENDER_ID</key>
	<string>819702262701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arPin</string>
	<key>PROJECT_ID</key>
	<string>arpin-48903</string>
	<key>STORAGE_BUCKET</key>
	<string>arpin-48903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819702262701:ios:fcb593e192bd05f83b0f24</string>
	<key>DATABASE_URL</key>
	<string>https://arpin-48903-default-rtdb.firebaseio.com</string>
</dict>
</plist>